.hamburgermenu {
  top: 24px;
  right: 24px;
  height: 50px;
  z-index: 10;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  font-family: var(--font-family);
  box-shadow: 0px 0px 5px 0px rgb(191, 188, 188);
}

/*Displays the date of today*/
.dateOfDay {
  padding-left: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top: 3.7rem;
  background-color: #4e36df; /*rgb(112, 46, 205); orange;*/
  /*margin-bottom: 2rem;*/
  color: white;
  font-size: 0.9rem;
}

h1 {
  color: white;
}

.goToStart {
  text-decoration: none;
}

.hamburger {
  width: 50px;
  height: 50px;
  background: none;
  border: 0;
  position: absolute;
  right: 1rem;
  z-index: 4;
  pointer-events: none;
}

header input {
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  position: absolute;
}

header label {
  width: 50px;
  height: 50px;
  display: block;
}

@media screen and (min-width: 500px) {
  .hamburger {
    /*right: 2rem;*/
  }
}
@media screen and (min-width: 800px) {
  /*.navDesk li {
    padding: 1rem;
  }*/

  .navDesk li:last-of-type {
    padding-right: 1.5rem;
  }

  .dateOfDay {
    padding-left: 3rem;
  }
  header {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 200px) {
  h1 {
  }
}

/*header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--col-nav);
  padding: 1.5rem;
  font-family: var(--font-family);
}


.dateOfDay {
  padding-left: 1.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: rgb(112, 46, 205);/
  margin-bottom: 2rem;
  color: white;
  font-size: 1rem;
}

h1 {
  color: var(--text-col-nav);
}

.goToStart {
  text-decoration: none;
}

.navDesk,
ul,
li,
a {
  display: block;
  color: var(--text-col-nav);
  padding: 0rem;
}
*/

/*hiedes the desknav on mobil*/
/*.navDesk > ul > li > a {
  opacity: 0%;
}

.navDesk ul li a:hover {
  color: rgb(45, 148, 213);
}

.navMobil {
  display: none;
}

.hamburger {
  border: 0px;
  background: transparent;
}

@media screen and (min-width: 500px) {
  .navDesk li {
    display: inline-block;
    padding: 0.2rem;
    letter-spacing: 0.06rem;
  }
  .navDesk > ul > li > a {
    opacity: 100%;
    text-decoration: none;
  }
  .hamburger {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .navDesk li {
    padding: 1rem;
  }

  .navDesk li:last-of-type {
    padding-right: 1.5rem;
  }

  .dateOfDay {
    padding-left: 3rem;
  }
  header {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 200px) {
  h1 {
  }
}
*/
