main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.long-text {
  display: none;
}

.show-more-button {
  text-decoration: underline;
}

.leftColumn {
  width: 100%;
}

.rightColumn {
  width: 100%;
  padding-left: 0rem;
}

/*popular news feed*/
.popNews {
  display: grid;
  /*grid-template-rows: 1fr;*/
  grid-row-gap: 0.7rem;
  font-size: 1.2rem;
}

.popNewsItems {
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 20px;
  align-items: center;
}

.popNewsItems > span {
  font-weight: bolder;
  grid-column-end: 1;
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(0, 0, 0);
}

.arrow {
  grid-column-end: 3;
  align-items: flex-end;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.socials > a > svg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

/* Fake image */
.fakeImg {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.fakeImg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 5px 0px rgb(191, 188, 188);
}

/*Articles on the site*/
article {
  background-color: white;
  padding: 1.2rem;
  margin-top: 1.5rem;
  max-width: 850px;
  padding-bottom: 4rem;
  box-shadow: 0px 0px 5px 0px rgb(191, 188, 188);
  /*border-radius: 3rem;*/
}

article h2 {
  padding-bottom: 1rem;
  padding-top: 3rem;
  max-width: 30rem;
  font-size: 2rem;
}

article h3 {
  float: right;
  color: white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  background-color: gray; /*blå rgb(45, 148, 213);*/
  border-radius: 0.3rem;
  font-weight: 400;
}

article h5 {
  line-height: 1.1rem;
  padding-top: 1rem;
}

p {
  line-height: 1.7rem;
}

.preamble {
  font-weight: 600;
}

.mainContent {
  padding-bottom: 1rem;
}

.star {
  background: ;
}
article button {
  float: right;
  width: 4rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  cursor: pointer;
  margin: 5px;
  border-radius: 0.2rem;
  border: 4px double #cccccc;
  background-color: #ffffff;
}

.articles:last-of-type {
  padding-bottom: 1.5rem;
}

/* Responsive layout - when the screen is bigger than 800px wide, make the columns next to each other */
@media screen and (min-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1;
    grid-column-gap: 2rem;
  }

  .rightColumn {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
  }

  .leftColumn {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
