* {
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --main-bg: rgb(238, 238, 238);
  --purple: #4730d1;
  --blue: rgb(45, 148, 213);
  --font-family: "Roboto", sans-serif;
  --col-nav: black;
  --text-col-nav: white;
  --black: rgb(29, 28, 28);
}

body {
  background-color: var(--main-bg);
  font-family: var(--font-family);
}
