header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-head);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  font-family: var(--font-family);
  box-shadow: 0px 0px 4px 0px rgb(0, 0, 0);
  color: var(--font-color-head);
}

/*Displays the date of today*/
.dateOfDay {
  padding-left: 1.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
  margin-top: 3.7rem;
  background-color: var(--purple);
  color: var(--font-color-head);
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
}

h1 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--font-color-head);
}

/*When you click on h1 it send you to the startpage*/
.goToStart {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.goToStart .favicon {
  margin-right: 0.6rem;
  width: 38px;
  height: 38px;
}

/* Wrapper for the hamburger*/
.hamburgermenu {
  top: 24px;
  right: 24px;
  height: 50px;
  z-index: 10;
  margin-right: 1.5rem;
}
.hamburger {
  width: 50px;
  height: 50px;
  background: none;
  border: 0;
  position: absolute;
  right: 1.5rem;
  z-index: 4;
  pointer-events: none;
}

/* Styles the menu that shows if you touch the hamburger on mobil*/
.menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: var(--black);
  z-index: 2;
  padding: 1.5rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  transition: 0.7s ease;
  background-color: var(--background-head);
}

/* styles the menu list - column*/
.menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.menu-list-item {
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem;
}

.menu-list-item a {
  color: var(--font-color-head);
  font-weight: 300;
  text-decoration: none;
  transition: 0.5s ease;
}

.menu-contact-info ul {
  list-style: none;
  padding: 0;
  color: var(--font-color-head);
}

.menu-contact-info li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
}

header input {
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  position: absolute;
}

header label {
  width: 50px;
  height: 50px;
  display: block;
}

/* If the checkbox is checked, the menu will be displayed */
header input[type="checkbox"]:checked + label .menu {
  transform: translateX(0%);
}

/*Hides the menu for desktop when use mobil*/
.navDesk {
  display: none;
}

/*When width over 600px the hamburger menu hides and the menu for deskop displays*/

@media screen and (min-width: 700px) {
  .hamburgermenu {
    display: none;
  }

  .navDesk {
    display: flex;
  }

  .navDesk li {
    display: inline-block;
    padding: 0.5rem;
    letter-spacing: 0.08rem;
  }

  .navDesk li:last-of-type {
    padding-right: 3.3rem;
  }

  /*Styles the items on the menubar*/
  .navDesk a {
    color: var(--white);
    transition: color 0.8s ease;
    text-decoration: none;
  }

  .navDesk ul li a:hover {
    color: var(--blue);
  }
}
@media screen and (min-width: 1000px) {
  .navDesk li:last-of-type {
    padding-right: 3.4rem;
  }

  .dateOfDay {
    padding-left: 3rem;
  }
  header {
    padding-left: 3rem;
  }
}

/*Responsiv design for Galaxy Fold*/
@media screen and (max-width: 300px) {
  h1 {
    font-size: 1.5rem;
  }
  .hamburgermenu {
    margin-right: 1rem;
  }
  .hamburger {
    margin-right: -0.5rem;
  }
}
