main {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

/* styles the content that will flips on right side when on desktop. The max width is 800px*/
.rightColumn {
  max-width: 800px;
}

/*Styles for the content on the right side (on desktop) (Popular news and socials)  */
.right {
  background-color: white;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 5px 0px rgb(191, 188, 188);
}

/* Responsive layout - when the screen is bigger than 1000px wide, the articles is dispaled on left side and social media and Popular news on right side.*/
@media screen and (min-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row: 1;
    grid-column-gap: 3rem;
  }

  .rightColumn {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
  }

  main {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

/*Responsiv design for Galaxy Fold*/
@media screen and (max-width: 300px) {
  main {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
