/*Popular news feed - styles it as a grid so that items are seperated */
.popNews {
  display: grid;
  padding-top: 1.9rem;
  grid-row-gap: 0.7rem;
  font-size: 1.2rem;
}

/*styles the title of newsfeed (Popular news)*/
.popNews h3 {
  font-weight: 500;
}

.popNews > .underline {
  height: 1px;
  background-color: var(--font-color-main);
  margin-bottom: 0.8rem;
}

/*styles it as a grid so that the title and arrow are seperated*/
.popNewsItems {
  background-color: var(--backgound-pop-items);
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 20px 20px;
  align-items: center;
}

.popNewsItems {
  text-decoration: none;
  color: var(--font-color-main);
}

.popNewsItems > h2 {
  font-weight: bolder;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 1.2rem;
  font-style: italic;
}

.arrow {
  grid-column-end: 6;
  align-items: flex-end;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 2rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1000px) {
  /*styles the page popNews - center the content*/
  .popPage {
    margin-left: 13rem;
    width: 100%;
  }

  .title {
    margin-left: 13.5rem;
  }
}
